.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: none;
}

.photo {
  width: 600px;
  margin-top: 60px;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.photo__header {
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.photo__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.photo__username {
  font-weight: 700;
}

.photo__image {
  max-width: 100%;
}

.photo__info {
  padding: 15px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.photo__actions {
  font-size: 20px;
  margin-bottom: 15px;
}

.photo__likes {
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}

.photo__comments {
  margin-bottom: 10px;
}

.photo__comment {
  margin-bottom: 10px;
}

.photo__comment:last-child {
  margin: 0;
}

.photo__comment-author {
  font-weight: 700;
}

.photo__date {
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}

.photo__add-comment {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo__add-comment textarea {
  border: 0;
  resize: none;
  padding-top: 15px;
  font-size: 14px;
  width: 95%;
}

.photo__add-comment textarea:focus {
  outline: none;
}
