body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #262626;
}

a{
  text-decoration: none;
}

main{
  max-width: 1000px;
  animation: .5s potato linear
}

@keyframes potato {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}
