.navigation {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  height: 76px;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  box-sizing: border-box;
}

.navigation__icons {
  font-size: 25px;
}

.navigation__link {
  color: #262626;
  margin-right: 10px;
  animation: .5s menuLink linear;
  display: inline-block;
}

#compass {
}
#heart {
  animation-delay: 1.5s;
}
#user {
  animation-delay: 3s;
}

@keyframes menuLink {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.navigation__input {
  padding: 7px 0;
  box-sizing: border-box;
  width: 210px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  font-size: 14px;
  padding-left: 30px;
}

.navigation__input:focus {
  outline: none;
  border-color: #d4d4d4;
}

.navigation__search {
  position: relative;
}

.navigation__search i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #999;
}
